.AddTask
    position: absolute
    width: 500px
    height: 500px    
    left: 50%
    top: 50%
    margin-top: -250px
    margin-left: -250px
    background-color: #fff
    box-shadow: 0 0 0 1px #00D
.AddTaskForm 
    width: 400px
    height: 50px
    margin-top: 25px
    margin-left: -150px
    position: absolute
    left: 50%    
.AddTaskSelector 
    width: 150px
    left: 50%
    margin-left: -75px
    top: 5%
.ATCode
    top: 7%
    width: 200px
    left: 10%  
    text-align: center
.ATText 
    top: 8%
    width: 400px
    left: 50%
    margin-left: -200px
    text-align: center
.ATBut 
    position: absolute
    top: 117px
    left: 300px